# -*- mode: sh -*-
# vim: filetype=zsh

alias n=nnn
alias grep="grep --color"
alias rgrep="rgrep --color"
alias gs="git status"
alias gap="git add -p"
alias gc="git commit"
alias gd="git diff"

if [[ "$OSTYPE" == "linux-gnu"* ]]; then
    alias ll="ls -ahlF --color=auto"
elif [[ "$OSTYPE" == "darwin"* ]]; then
    alias ll="ls -GahlF"
fi

dl() {
    aria2c $@ --dir=$HOME/Torrents
}

mov2mp4() {
    ffmpeg -i $1 -q:v 0 ${1%.*}.mp4
}

wav2mp3() {
    ffmpeg -i $1 -codec:a libmp3lame -qscale:a 2 ${1%.*}.mp3
}

md2pdf() {
    pandoc $1 -o ${1%.*}.pdf \
        --number-sections \
        -V geometry:margin=1.2in \
        -V fontsize=11pt \
        -V linestretch=1.3
}

md2pdf_all() {
    for i in *.md; do
        [ -f "$i" ] || break
        md2pdf $i
    done
}

# Un{zip,rar} stuff
unpack() {
    for i in *.zip; do
        [ -f "$i" ] || break
        zipfile="$1"
        zipdir=${1%.zip}

        if [[ "$OSTYPE" == "linux-gnu"* ]]; then
            unzip $zipfile -d $zipdir
        elif [[ "$OSTYPE" == "darwin"* ]]; then
            ditto -V -x -k --sequesterRsrc --rsrc $zipfile $zipdir
        fi
    done

    for i in *.rar; do
        [ -f "$i" ] || break
        rarfile="$1"
        rardir=${1%.rar}
        unrar x $rarfile $rardir/
    done
}

c() {
    cc -g3 -Wall -Wextra \
        -Wconversion \
        -Wdouble-promotion \
        -Wno-unused-parameter \
        -Wno-unused-function \
        -Wno-sign-conversion \
        -fsanitize=undefined \
        $1 -o ${1%.c}
}
