alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ls='ls -G'
alias ll='ls -ahlG'
alias cext='change_extensions'
alias today='today'
alias week='date +%V'
alias md2pdf='markdown_to_pdf'
alias wav2mp3='wav_to_mp3'
alias dl='download_torrent'
alias x2c='xlsx_to_csv'
