export EDITOR='vim'
export LANG=en_GB.UTF-8
export LC_ALL=en_GB.UTF-8

# Historyfile
export HISTFILE=~/.zhistory
export HISTSIZE=32768
export HISTFILESIZE=32768
export SAVEHIST=32768
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# Go
export GOPATH=$HOME/Go
export PATH=$PATH:$GOPATH/bin

export TMPDIR=$HOME/tmp

export PYTHONPATH=`brew --prefix`/lib/python2.7/site-packages:$PYTHONPATH

export NODE_PATH=/usr/local/lib/node_modules:$NODE_PATH
