# -*- mode: sh -*-
# vim: filetype=zsh

export SHELL=/bin/zsh
export VISUAL="vim"
export EDITOR="vim"
export TMPDIR=$HOME/tmp
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# C
export ASAN_OPTIONS=abort_on_error=1:halt_on_error=1
export UBSAN_OPTIONS=abort_on_error=1:halt_on_error=1

export NNN_OPTS="dc"
export NNN_FIFO=$TMPDIR/nnn.fifo
export NNN_FCOLORS="0000b3070000f3f3006d6da7"
export NNN_COLORS="#f36da7b3"
export NNN_OPENER="vim"

export FZF_DEFAULT_OPTS="
    --height 40% --layout=reverse
    --color fg:243,bg:235,hl:223,fg+:179,bg+:234,hl+:179
    --color info:243,prompt:179,spinner:167,pointer:167,marker:167,header:223
"

if [[ "$OSTYPE" == "darwin"* ]]; then
    export FZF_DEFAULT_COMMAND="fd --type f --hidden --follow --exclude .git"
fi

# TODO: might drop this?
export BAT_THEME="base16"
