# Echo calendar - highlights today
today() {
    cal_head=`cal | head -1`;
    cal_tail=`cal | tail -7`;
    today=`date "+%e"`;
    date "+%A %b %d, Week %V"
    echo "$cal_head";
    echo "${cal_tail/${today}/\033[1;34m${today}\033[0m}";
}

# Changes the extension of all files
change_extensions() {
    for f in *.$1; do base=`basename $f .$1`; mv $f $base.$2; done
}

# Create a new directory and enter it
mkd() {
    mkdir -p "$@" && cd "$@"
}

markdown_to_pdf() {
    pandoc $1 -o ${1%.*}.pdf --number-sections --pdf-engine=xelatex -V geometry:margin=1.4in -V fontsize=11pt -V linestretch=1.3 --template=/Users/sebbe/Github/runcom/template.tex
}

wav_to_mp3() {
    ffmpeg -i $1 -codec:a libmp3lame -qscale:a 2 ${1%.*}.mp3
}

download_torrent () {
    aria2c "$@" --dir=/Users/sebbe/Torrents/downloaded
}

# Automator workflow
# export PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin:/usr/texbin
# cd ${1%*/}
# pandoc $1 -o ${1%.*}.pdf --number-sections --latex-engine=xelatex -V geometry:margin=1.4in -V fontsize=11pt
#

check_ssl_expiration() {
    echo | openssl s_client -connect $1:443 2>/dev/null | openssl x509 -noout -dates
}

# Excel to CSV without trailing commas
xlsx_to_csv() {
    xlsx2csv $1 | sed 's/,*$//g' | tee ${1%.*}.csv
}
