# vim: ft=muttrc
set from = "Sebastian Bengtegård <sebastian@mail.com>"
set realname = "Sebastian Bengtegård"
set smtp_url = "smtp://sebastian@mail.com@hostname.com:587/"
set smtp_pass = $my_email_pass
set spoolfile = "+something/INBOX"
set mbox = "+something/Archive"
set record = "+something/Sent Messages"
set trash = "+something/Deleted Messages"

macro index,pager a \
    "<save-message>+something/archive<enter>"  \
    "move message to the archive"

macro index,pager i \
    "<save-message>+something/INBOX<enter>"  \
    "move message to the inbox"

